<h1>Editing web_thumb</h1>

<% form_for(@web_thumb) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @web_thumb %> |
<%= link_to 'Back', web_thumbs_path %>