<h1>Listing web_thumbs</h1>

<table>
  <tr>
  </tr>

<% @web_thumbs.each do |web_thumb| %>
  <tr>
    <td><%= link_to 'Show', web_thumb %></td>
    <td><%= link_to 'Edit', edit_web_thumb_path(web_thumb) %></td>
    <td><%= link_to 'Destroy', web_thumb, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New web_thumb', new_web_thumb_path %>