.field{width:100%;}
input{margin:0 auto;padding:0.1em 0.2em;width:100%;text-align:center;border-width:0 0 1px 0;}
#home input{background: transparent url(/images/pink.png) no-repeat center center;padding:1em;}
.content,.screenshot{margin:60px auto auto auto;text-align:center;}
.content{width:800px}
.screenshot{width:640px;height:480px;border:solid 10px #000;}
.curtain{width:100%;background:#000;opacity: 0.8;-moz-opacity: 0.8;filter:alpha(opacity=80);position:absolute;top:0;left:0;z-index:1;}
#viewer .screenshot {position:relative;}
#viewer .screenshot .highlight{position:absolute;z-index:2;border:solid 2px #ff0;}
.tools{padding:5px 10px;margin:0;width:auto;}
.logo{color:#ff0;}
.title{float:right;color:#fff;}
.canvas{display:block;margin:100px auto auto auto;text-align:left;border:solid 10px #333;position:relative;}
.jcrop-vline,.jcrop-hline{font-size:0;position:absolute;background:#ff0;}
.jcrop-vline{height:100%;width:2px !important;}
.jcrop-hline{width:100%;height:2px !important;}
.jcrop-handle{font-size:1px;width:10px !important;height:10px !important;border:1px #eee solid;background-color:#ddd;*width:10px;*height:10px;}
.jcrop-tracker{*background-color:#000;width:100%;height:100%;}
.custom .jcrop-vline,
.custom .jcrop-hline{background:yellow;}
.custom .jcrop-handle{border-color:#fff;background-color:#C7BB00;}
.url{width:auto;margin:0px;padding:3px;text-align:center;font-size:0.8em;background:#111;color:#000;}
.url a{color:#fff;}
.canvas .note{background:#000;position:absolute;top:-5em;right:-1em;color:#fff;border:solid 2px #ff0;width:20em;height:2em;text-align:left;padding:0.2em;}
.caption{background:#000;color:#fff;border:none;width:100%;padding:0;text-align:left;}
.arrows{position:absolute;bottom:-20px;right:30px;}
.arrow{font-size: 0px; line-height: 0%; width: 0px;}
.a1{border-top: 20px solid #ff0;border-right: 20px solid transparent;position:absolute;bottom:0;right:0px;}
.a2{border-top: 20px solid #ff0;border-left: 20px solid transparent;position:absolute;bottom:0;right:20px;}
.a3{border-top: 18px solid #000;border-right: 18px solid transparent;position:absolute;bottom:2px;right:2px;}
.a4{border-top: 18px solid #000;border-left: 18px solid transparent;position:absolute;bottom:2px;right:19px;}