.field{width:100%;}
input{margin:0 auto;padding:0.1 0.2em;width:80%;text-align:center;}
.content,.screenshot{margin:60px auto auto auto;text-align:center;}
.content{width:300px;padding:10px;border:solid 1px #ccc;}
.screenshot{width:640px;height:480px;border:solid 10px #000;}
.tools{padding:5px 10px;margin:0;width:auto;}
.logo{color:#ff0;}
.title{float:right;color:#fff;}
.jcrop-holder{display:block;margin:100px auto auto auto;text-align:left;border:solid 10px #333;}
.jcrop-vline,.jcrop-hline{font-size:0;position:absolute;background:#ff0;}
.jcrop-vline{height:100%;width:2px !important;}
.jcrop-hline{width:100%;height:2px !important;}
.jcrop-handle{font-size:1px;width:10px !important;height:10px !important;border:1px #eee solid;background-color:#ddd;*width:10px;*height:10px;}
.jcrop-tracker{*background-color:#000;width:100%;height:100%;}
.custom .jcrop-vline,
.custom .jcrop-hline{background:yellow;}
.custom .jcrop-handle{border-color:#fff;background-color:#C7BB00;}
