#home .logo{background:transparent url(/images/logo.jpg) no-repeat top center;text-indent:-1000px;overflow:hidden;height:3em;}
.tools {background:#000;color:#fff;}
.tools a{text-decoration:none}
.tools a:hover{text-decoration:underline;}
.tools .go {margin-left:5px; color:#baa;font-size:0.8em;}